* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E5E5E5;
  font-family: 'Lato', sans-serif;
}

.center {
  display: flex;
  align-items: center;
  align-content: space-around;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  min-height: inherit;
}

/* ======= begin top ======= */
.top {
  width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #222222;
  padding: 0 32px;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-left {
  list-style: none;
  display: flex;
  gap: 41px;
  align-items: end;
  margin: 18px 0 19px 0;
}

.page-header-search-form {
  width: 26px;
  min-height: 26px;
  position: relative;
  fill: #FFFFFF;
}

.page-header-search-form:hover svg {
  fill: orange;
}

.page-header-search-btn {
  width: 20px;
  min-height: 20px;
  padding: 5px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -1px;
  left: 30px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}

.page-header-search-btn:focus {
  width: 180px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff;
}

.page-header-search-btn:focus~label>svg {
  fill: green;
}

.page-header-search-btn:active~label>svg {
  fill: red;
}

.menu-right {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 29px);
  gap: 33px;
  align-items: end;
  margin: 26px 0 20px 0;
}

.icon-btn {
  text-decoration: none;
  position: relative;
  fill: #fff
}

.icon-btn svg {
  width: 32px;
  height: 29px;
}

.icon-btn span {
  display: block;
  width: 19px;
  height: 19px;
  background-color: #F16D7F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -20px;
  left: 24px;
}

.icon-btn:hover svg {
  fill: orange
}

.icon-btn:active svg {
  fill: red;
}

.promo {
  display: grid;
  grid-template-columns: repeat(2, 800px);
  justify-content: center;
  background-color: #f1e4e6;
}

.promo-photo {
  display: flex;
  justify-content: center;
}

.promo-img {
  height: 764px;
}

.promo-content {
  display: flex;
  align-items: center;
}

.promo-info {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  display: grid;
  margin-left: 16px;
}

.promo-title {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
}

.promo-heading {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.fashion {
  color: #F16D7F;
}

/* ======= end top ======= */

/* ======= begin sale ======= */
.sale-list {
  margin-top: 65px;
  margin-bottom: 96px;
  display: flex;
  list-style: none;
  justify-content: center;
}

.menu-list {
  max-width: 1142px;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
  list-style: none;
  justify-content: center;
}

.sale-item {
  text-transform: uppercase;
  display: grid;
  grid-row: 2;
  text-align: center;
  align-content: center;
  background: url(../img/for-women.png);
  width: 360px;
  height: 260px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
}

.sale-item:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #211216;
  opacity: 70%;
}

li:nth-child(2)>.sale-item {
  background: url(../img/for-men.png);
}

li:nth-child(3)>.sale-item {
  background: url(../img/for-kids.png);
}

li:nth-child(4)>.sale-item {
  background: url(../img/accesories.png);
  width: 1138px;
  height: 180px;
}

.sale-text {
  position: relative;
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 400;
}

.sale-title {
  position: relative;
  font-size: 24px;
  font-weight: 700;
}
/* ======= end sale ======= */

/* ======= begin product ======= */
.product-header {
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 48px;
}

.product-header-title {
  font-size: 30px;
  font-weight: 400;
  color: #222222;
}

.product-header-text {
  font-size: 14px;
  font-weight: 400;
  color: #9F9F9F;
}

.product-table-list {
  list-style-type: none;
  margin: 0 auto 18px auto;
  flex-wrap: wrap;
}

.products-item {
  display: block;
  width: 360px;
  margin: 0 0 30px 0;
  position: relative;
  background: #F8F8F8;
  text-decoration: none;
  box-sizing: border-box;
}

.products-item:hover .products-item-btn {
  display: flex
}

.products-item:hover .products-item-btn:hover {
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
}

.products-item:hover .products-item-btn:hover svg {
  fill: #000;
}

.products-item:hover .products-item-btn:active {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.products-item:hover .products-item-btn:active svg {
  fill: #fff;
}

.products-item:hover .products-item-photo-wrp:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
  left: 0;
}

.products-item-photo-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F7E4E2;
  box-sizing: border-box;
  position: relative;
}

.products-item-photo {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

.products-item-txt-wrp {
  padding: 25px 18px 20px 18px;
  box-sizing: border-box;
  text-align: left;
}

.products-item-title {
  display: block;
  margin: 0 0 12px 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.products-item-txt {
  margin: 0 0 18px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.products-item-price {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.products-item-btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 160px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 30%;
  left: calc(50% - 80px);
}

.products-item-btn svg {
  fill: #fff;
  margin: 0 11px 0 0;
}

.products-btn {
  display: block;
  width: 100%;
  max-width: 211px;
  margin: 0 auto;
  padding: 14.5px;
  background-color: #fff;
  border: 2px solid #F26376;
  box-sizing: border-box;
  color: #F26376;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  text-align: center;
  word-break: break-all;
}

.products-btn:hover {
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
}

.products-btn:active {
  background-color: #fff;
  border: 2px solid #F26376;
  color: #F26376;
}

.product-footer {
  display: grid;
  justify-content: center;

}

.product-button {
  display: block;
  box-sizing: border-box;
  padding: 15px 39px 14px 39px;
  margin-top: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border-style: solid;
  border-color: #FF6A6A;
  background-color: #E5E5E5;
}

.product-button:hover {
  background-color: #FF6A6A;
  color: #E5E5E5;
}

.product-button:active {
  background-color: #E5E5E5;
  color: #F26376;
}

.footer {
  background-color: #222224;
  margin-top: 95px;
}

.advanteges {
  display: grid;
  justify-content: center;
}

.advanteges-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 30px;
}

.advanteges-item {
  display: grid;
  justify-items: center;
}

.advanteges-photo {
  margin: 103px auto 28px auto;
}

.advanteges-title {
  font-size: 20px;
  font-weight: 400;
  color: #FBFBFB;
  margin-bottom: 16px;
}

.advanteges-text {
  font-size: 14px;
  font-weight: 300;
  color: #FBFBFB;
  text-align: center;
  margin-bottom: 104px;
}

.info-for-people {
  display: flex;
  width: 100%;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
  gap: 130px;
}

.info-for-people::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #F4F4F4;
  opacity: 70%;
}

.reviews {
  position: relative;
  display: grid;
  gap: 30px;
  justify-items: center;
  width: 360px;
  height: 225px;
  margin: 86px auto;
}

.user-review {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.subscribe {
  position: relative;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.subscribe-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}

.subsription-form {
  max-width: 356px;
  width: 100%;
  height: 49px;
  display: flex;
  justify-content: center;
  gap: 0;
}

.subsription-form-input {
  display: block;
  max-width: 256px;
  width: 100%;
  padding: 7px 0 7px 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e1e1e1;
  border: none;
  border-radius: 30px 0 0 30px;
}

.subsription-form-input::placeholder {
  line-height: 17px;
  color: #222224;
}

.subsription-form-button {
  display: block;
  max-width: 100px;
  width: 100%;
  background-color: #e05c6e;
  border: none;
  border-radius: 0 30px 30px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  transition: 0.2s;
}

.subsription-form-button:hover {
  filter: brightness(0.5);
}

.bread-crumbs {
  padding: 24px 0;
  background-color: #222224;
  max-width: 1135px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bread-crumbs-creater {
  width: 332px;
  margin: 0 0 0 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.social-network-list {
  width: 147.66px;
  margin: 0 5px 0 0;
  display: flex;
  gap: 7px;
  list-style: none;
}

.footer-social-item {
  width: 31.45px;
  height: 32px;
}

.footer-social-link {
  width: 32px;
  height: 32px;
  background-color: #fff;
  display: flex;
  transition: all 0.3s;
}

.footer-social-icon {
  fill: black;
  margin: auto;
}

.footer-social-link:hover {
  background-color: #F16D7F;
}

.footer-social-link:hover .footer-social-icon {
  fill: #fff;
}

.footer-social-link:active {
  filter: brightness(0.5);
}

.footer-social-link:active .footer-social-icon {
  fill: #fff;
}
/* ======= end product ======= */

/* ======= begin для планшетов ======= */
@media(max-width: 1024px) {
  .center {
    max-width: 768px;
  }

  .promo {
    display: grid;
    grid-template-columns: repeat(2, 386px);
    justify-content: center;
    background-color: #f1e4e6;
  }

  .promo-img {
    height: 368px;
  }

  .promo-title {
    font-size: 44px;
  }

  .promo-heading {
    font-size: 24px;
  }

  .sale-list {
    margin-bottom: 110px;
  }

  .sale-item {
    width: 232px;
    height: 167px;
  }

  li:nth-child(4)>.sale-item {
    width: 734px;
    height: 116px;
  }

  .menu-list {
    max-width: 1142px;
    display: grid;
    grid-template-columns: repeat(3, 232px);
    gap: 18px;
  }

  .product-table-list {
    grid-template-columns: repeat(2, 360px);
    grid-template-rows: repeat(3, 587px);
    gap: 16px;
    margin-top: 73px;
  }

  .product-button {
    margin-top: 32px;
  }

  .advanteges-list {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    margin-bottom: 64px;

  }

  .advanteges-photo {
    margin-top: 48px;
  }

  .advanteges-text {
    margin-bottom: auto;
  }

  .info-for-people {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 0px;
  }

  .reviews {
    align-items: center;
    margin: 64px auto 48px auto;
  }

  .subscribe {
    margin-top: auto;
    margin-bottom: 140px;
  }

  .bread-crumbs {
    gap: 305px;
  }
}

/* ======= end для планшетов ======= */

/* ======= begin для мобилок ======= */
@media(max-width: 767px) {
  .center {
    max-width: 375px;
  }

  .top {
    background-color: #f1e4e6;
  }

  .promo {
    display: grid;
    grid-template-columns: repeat(1, 320px);
  }

  .promo-photo {
    display: none;
  }

  .promo-info {
    margin-top: 148px;
    margin-bottom: 149px;
  }

  .menu-list {
    max-width: 1142px;
    display: grid;
    grid-template-columns: repeat(1, 343px);
  }

  .sale-item {
    width: 343px;
    height: 248px;
  }

  li:nth-child(4)>.sale-item {
    width: 343px;
    height: 111px;
    background-size: cover;
    background-position: center;

  }

  .product-table-list {
    grid-template-columns: repeat(1, 360px);
    gap: 16px;
    margin-top: 73px;
  }

  .product-button {
    margin-top: 40px;
  }

  .product-header-title {
    margin-bottom: 3px;
  }

  .product-header-text {
    margin-bottom: 64px;
  }

  .bread-crumbs {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    flex-wrap: wrap;
    gap: 0px;
  }

  .social-network-list {
    justify-content: center;
    margin: 43px auto 40px auto;

  }

  .bread-crumbs-creater {
    margin: auto auto 9px auto;
  }

  .social-network-item {
    margin: auto;
  }

  /* ======= end для мобилок ======= */
}